[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
openpyxl = "*"
click = "*"
mlflow = "*"
hyperopt = "*"
pytest = "*"
fsspec = "*"
s3fs = "*"
setuptools = "*"

[dev-packages]
setuptools = "*"
pylint = "*"

[requires]
python_version = "3.12"
